/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/.idea
/.gitattributes
var/
includes/stat/
pub/static/
pub/media/
node_modules
/app/etc
/app/i18n/magento
/bin
/dev
/lib
/pub
/generated
/setup
/var
/vendor
/update
/phpserver
/dev/travis
resources/*.*
/*.*
!/composer.json
!/composer.lock
!/README.md
Capfile
generated
.DS_Store
